@charset "utf-8";

body {
  font-family: Arial, sans-serif;
  background-color: #9574cf;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
  text-align: center;
  padding: 15px;
}

.container h1 {
    font-size: 35px;
    margin-bottom: 15px;
    color: rgb(44, 12, 103);
}

.container p {
    max-width: 700px;
    line-height: 1.6;
    color: #402272;
    font-size: 20px;
}

.dialog-one {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  background: rgb(223, 212, 236);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.cookie{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog h2 {
  color: #4b2a7a;
  font-size: 25px;
  font-weight: 600;
}

.dialog p {
  font-size: 18px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.acceptBtn {
  background-color: #4b2a7a;
  color: white;
}

.acceptBtn:hover {
  background-color: rgb(47, 22, 86);
}

.settingsBtn {
  background-color: #c3acea;
  color: #4b2a7a;
}

.settingsBtn:hover {
  background-color: rgb(159, 134, 199);
}

.dialog-two {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  background: rgb(223, 212, 236);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  
}

.cookie-settings {
  padding: 20px;
  border-radius: 12px;
  gap: 12px;
}

.cookie-settings h2 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #432a6e;
}

.cookies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookies p {
  font-size: 18px;
  color: #333;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .switch-slider {
  background-color: #4b2a7a;
}

input:checked + .switch-slider:before {
  transform: translateX(18px);
}

#saveBtn {
  width: 100%;
  background-color: #4b2a7a;
  color: white;
  margin-top: 10px;
}